<h1> New School Class Form </h1>

<%=form_for @school_class do |f|%>
    <h4><%= f.label :title %></h4>
    <h4><%= f.text_field :title %></h4>
    <br>
    <h4><%= f.label :room_number %></h4>
    <h4><%= f.text_area :room_number %></h4>
    <br>
    <h4><%= f.submit %></h4>
<% end %>